@model TabloidMVC.Models.ViewModels.SubscribeViewModel

@{
    ViewData["Title"] = "Index";
}

    <div class="container pt-5">
        <h4>Do you want to subscribe to @Model.ProviderUserProfile.DisplayName's posts?</h4>
        <div>
            <form asp-action="Index">
                <input type="submit" value="Yes!" class="btn btn-primary" /> |
                <a asp-controller="Post" asp-action="Details" asp-route-id="@Model.PostId">Cancel</a>
            </form>
        </div>
    </div>
